.greet {
  display: flex;
  position: relative;
  justify-content: right;
  flex-wrap: wrap;
  flex-direction: row-reverse; /* remember it is the reverse order! */
}

.postcard {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.intro-image-wrapper {
  width: 20vw;
  max-width: 245px;
}

.postcard-text {
  display: block;
  text-align: right;
}

.intro-contact-bar {
  display: block;
  text-align: right;
}

.postcard-firstline {
  font-family: semibold;
  font-size: 28px;
}

.postcard-firstline-chinese {
  font-family: SimSun;
  font-size: 16px;
  white-space: nowrap;
}

.postcard-secondline {
  font-family: Alegreya;
}

.postcard-thirdline {
  font-family: Alegreya;
}

.intro-image {
  display: block;
  margin: 0 auto;
}

.intro-contact-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.intro-contact-icon:first-of-type {
  width: 20px;
  height: 20px;
  margin-left: 0;
}

.intro-contact-icon:hover {
  cursor: pointer;
}

/* Remember to put @media in the last so as to override the above */

@media screen and (max-width: 660px) {
  .greet {
    justify-content: center;
  }

  .intro-image-wrapper {
    width: auto;
    max-width: none;
  }

  .postcard-text {
    text-align: center;
  }

  .intro-contact-bar {
    text-align: center;
  }
}