.news {
  display: block;
}

.news-title {
  display: block;
  position: relative;
  font-family: semibold;
  font-size: 26px;
  margin-bottom: 10px;
}

.news-list {
  display: block;
  font-size: var(--fontSizeDefault);
}

.one-news {
  margin-bottom: 10px;
  flex-wrap: nowrap;
}

@media screen and (max-width: 660px) {
  .one-news {
    flex-wrap: wrap;
  }
}

.one-news-time {
  width: 110px;
  color: #8b8b8b;
  font-size: var(--fontSizeDefault);
  font-weight: var(--fontWeightDefault);
  font-family: var(--fontDefault);
}

.one-news-content {
  color: var(--textColor);
  font-size: var(--fontSizeDefault);
  font-weight: var(--fontWeightDefault);
  font-family: var(--fontDefault);
}