.news-title {
  display: block;
  position: relative;
  font-family: semibold;
  font-size: 26px;
}

.news-list {
  display: block;
  font-size: var(--fontSizeDefault);
}

.one-news {
  margin-bottom: 10px;
  flex-wrap: nowrap;
}

@media screen and (max-width: 660px) {
  .one-news {
    flex-wrap: wrap;
  }
}

.one-news-time {
  width: 110px;
  font-size: 14px;
}

.one-news-content {
  font-size: 16px;
}