:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: only light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --themeColor: rgb(52, 85, 139); /* theme color default */
  --underlineColor: #8ed1ff;
  --textColor: #555555; /* text color default */
  --linkColor: #0094f7;
  --fontDefault: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --fontWeightDefault: 400;
  --fontSizeDefault: 16px;
}

.h1-bg {
  position: relative;
  white-space: nowrap; /* cannot wrap because the it will be separated from :after */
  z-index: 1;
}

.h1-bg::after {
  content: "";
  background-color: #DEF5FF;
  display: block;
  height: 45%;
  position: absolute;
  bottom: 0.2rem;
  right: 0;
  width: 100%;
  z-index: -1;
  border-radius: 30%;
}

body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--textColor);
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

a {
  display: inline-block;
  position: relative;
  color: var(--linkColor);
  text-decoration-line: none;
}

a:hover {
  color: var(--linkColor);
}

a:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: #4285f4;
  transition: all .3s;
}

a:hover:before {
  width: 100%;
  left: 0;
  right: 0;
}